openapi: 3.1.0
info:
  title: Zayo Group API
  description: |-
    Zayo Group's developer API provides programmatic access to network discovery,
    quote and order, and service management capabilities for enterprise customers
    and partners. Requests are authenticated via OAuth 2.0 Client Credentials
    grant, exchanging client credentials at the Zayo authorization server for a
    short-lived (one-hour) Bearer access token that is then presented to the API
    endpoints. Endpoints derived from the public developer portal at
    developer.zayo.com.
  version: '1.0'
  contact:
    name: Zayo Developer Portal
    url: https://developer.zayo.com
servers:
  - url: https://api.zayo.com
    description: Production
  - url: https://api.test.zayo.com
    description: Test / sandbox
security:
  - oauth2ClientCredentials: []
tags:
  - name: Authentication
    description: OAuth 2.0 token issuance.
  - name: Network Discovery
    description: Building validation and location lookup.
paths:
  /services/location-management/v2/buildings/validation:
    post:
      tags:
        - Network Discovery
      summary: Validate building / address
      description: |-
        Validate whether a building or street address is on or near Zayo's fiber
        network footprint. Used as the first step before quoting a new service.
      operationId: validateBuilding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildingValidationRequest'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildingValidationResponse'
        '401':
          description: Missing or invalid bearer token
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: |-
        OAuth 2.0 Client Credentials grant. Exchange client_id / client_secret at
        the authorization server token endpoint for a short-lived bearer token
        (tokens expire hourly).
      flows:
        clientCredentials:
          tokenUrl: https://auth.api.zayo.com/oauth/token
          scopes: {}
  schemas:
    BuildingValidationRequest:
      type: object
      description: Address payload submitted for fiber-network validation.
      properties:
        streetAddress:
          type: string
        city:
          type: string
        stateOrProvince:
          type: string
        postalCode:
          type: string
        country:
          type: string
    BuildingValidationResponse:
      type: object
      description: |-
        Result of a building validation request. Exact response shape is
        documented in the Zayo OpenAPI specification published in the developer
        portal; the fields below are illustrative of common fields returned.
      properties:
        validated:
          type: boolean
        buildingId:
          type: string
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
